/LICENSE.txt
/README.txt
/administrator
/cache
/cli
/components
/configuration.php
/images
/includes
/index.php
/joomla.xml
/language
/libraries
/logs
/media
/modules
/plugins
/robots.txt
/templates
/tmp
/web.config.txt
/.htaccess
/htaccess.txt