<?xml version="1.0" encoding="utf-8"?>
<config>

    <!--<fieldset name="options" label="COM_PODCAST_SETTINGS" addfieldpath="/administrator/components/com_podcast/models/fields">
        <field type="list" name="storage" default="local" label="COM_PODCAST_STORAGE_ENGINE" description="COM_PODCAST_STORAGE_ENGINE_DESC">
            <option value="local">COM_PODCAST_STORAGE_LOCAL</option>
            <option value="amazons3">COM_PODCAST_STORAGE_AMAZONS3</option>
        </field>
	</fieldset>-->
    
    <fieldset name="local_options" label="COM_PODCAST_STORAGE_LOCAL" addfieldpath="/administrator/components/com_podcast/models/fields">
        <field type="text" name="local_root" default="/media/podcasts/" label="COM_PODCAST_ROOT" description="COM_PODCAST_ROOT_DESC" />
		<field type="radio" name="delete_action" default="record" label="COM_PODCAST_DELETE_ACTION" description="COM_PODCAST_DELETE_ACTION_DESC">
			<option value="record">COM_PODCAST_DELETE_ACTION_RECORD</option>
			<option value="file">COM_PODCAST_DELETE_ACTION_FILE</option>
		</field>
	</fieldset>
    
    <!--<fieldset name="amazons3_options" label="COM_PODCAST_STORAGE_AMAZONS3" addfieldpath="/administrator/components/com_podcast/models/fields">
        <field type="text" name="amazons3_key" default="" label="COM_PODCAST_STORAGE_AMAZONS3_KEY" description="*Web Services Key" />
        <field type="text" name="amazons3_secret" default="" label="COM_PODCAST_STORAGE_AMAZONS3_SECRET" description="*Web Services Secret Key" />
        <field type="list" name="amazons3_ssl" default="0" label="*Use SSL">
            <option value="0">JDISABLED</option>
            <option value="1">JENABLED</option>
        </field>
	</fieldset>-->
    
    <fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" filter="rules" validate="rules" component="com_podcast" section="component" />
	</fieldset>
</config>