#podcast_suite_link {
	padding-top: 20px;
	text-align: center;
	clear: both;
}
.icon-48-podcasts { background-image: url(../images/icons/podcast-48.png); }
.icon-48-feeds { background-image: url(../images/icons/feeds-48.png); }
.icon-48-media { background-image: url(../images/icons/media-48.png); }

/* Episode */
.media-button { height: 16px; width: 16px; display: block;}
.media-default { background-image: url(../images/icons/default-16.png); }
.media-not-default { background-image: url(../images/icons/not-default-16.png); }
.media-delete { background-image: url(../images/icons/delete-16.png); }

/* Assets */
#extra_assets { float: left; padding-left: 20px; }
#extra_assets li { list-style: decimal; }

#file_list {}
#file_list img { float: none; margin: 0; }

#file_pagination li { width: 15px; float: left; cursor: pointer; text-align: center; }
#file_pagination li:hover { background-color: #f4f4f4; }