#podcast_suite_link {
	padding-top: 20px;
	text-align: center;
}
.icon-48-podcasts { background-image: url(../images/icons/podcast-48.png); }
.icon-48-feeds { background-image: url(../images/icons/feeds-48.png); }
.icon-48-media { background-image: url(../images/icons/media-48.png); }