/* Episodes */
.podcast_keywords, .podcast_feed, .podcast_author, .podcast_date, .podcast_duration {
    display: block;
}
.podcast_header_title {
    float: left;
    width: 70%;
    margin-bottom: 10px;
}
.podcast_header_meta {
    float: right;
    width: 30%;
}
h3.podcast_title {
    margin-bottom: 5px;
    font-size: 22px;
}
h5.podcast_subtitle, h5.podcast_feed { 
    margin-bottom: 0px; 
    font-size: 12px; 
}
.podcast_media {
    margin-bottom: 20px;
}

/* Feed */
.podcast_feed_left {
    width: 48%;
    float: left;
}
.podcast_feed_right {
    width: 48%;
    float: right;
}

/* General */
.clear { clear: both; }
.podcast_subscribe {
    background: url(../images/icons/feeds-16.png) no-repeat #eee left center;
    border-radius: 3px;
    padding: 5px 5px 5px 20px;
    display: inline-block;
    float: right;
}
.podcast_subscribe a {
    font-size: 1.2em;
    line-height: 1.2em;
}